# Simulation and Documentation build artifacts
verification/directed/build/
verification/uvm/build/
doc/build/

# SymbiYosys (Formal verification workdirs)
# These are generated in the same directory as the .sby files.
verification/formal/*/
verification/formal/*_ci.sby

# Common simulation/tool junk
work/
*.log
*.wlf
*.vcd
*.fsdb
*.vpd
*.jou
*.pb
*.str

# Editor and Tooling
.vscode/
*.swp
.codex
NOTES
